@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Vazirmatn;
        font-weight: 400;
        src: url('/webfonts/Vazirmatn-Black.woff2') format("woff2");
    }

    @font-face {
        font-family: Vazirmatn;
        font-weight: 500;
        src: url('/webfonts/Vazirmatn-Bold.woff2') format("woff2");
    }
    html {
        font-family: Vazirmatn, Tahoma, sans-serif;
      }
}